<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cleo.ringto" >

    <!-- Added in Pushy SDK v1.0.0 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- Added in Pushy SDK v1.0.1 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <permission android:name="com.cleo.ringto.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.cleo.ringto.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name="RingToApplication"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".RingToTitleScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RingToLogin"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".RingToChatScreen"
            android:windowSoftInputMode="stateHidden"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".RingToRegister"
            android:windowSoftInputMode="stateHidden"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".RingToMainContainer"
            android:windowSoftInputMode="stateHidden"
            android:label="@string/app_name" >
        </activity>

        <!-- Pushy Declarations -->
        <!-- Pushy Notification Receiver -->
        <receiver android:name=".PushReceiver" >
            <intent-filter>
                <action android:name="pushy.me" />
            </intent-filter>
        </receiver>

        <!-- Pushy Update Receiver -->
        <!-- Do not modify (except for package name) - internal BroadcastReceiver that restarts the listener service -->
        <receiver android:name="me.pushy.sdk.receivers.PushyUpdateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <data android:path="com.cleo.ringto" android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Pushy Boot Receiver -->
        <!-- Do not modify - internal BroadcastReceiver that restarts the listener service -->
        <receiver android:name="me.pushy.sdk.receivers.PushyBootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <!-- Pushy Socket Service -->
        <!-- Do not modify - internal listener background service -->
        <service android:name="me.pushy.sdk.services.PushySocketService"/>
    </application>

</manifest>
